body {
  background-color: #636262;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
  width: 100%;
  margin: 0 auto;
  background-image: url(img/bg_header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
}
header h1 {
  color: white;
  font-size: 50px;
  text-align: right;
  padding-left: 1000px;
}
main {
  width: 960px;
  position: 0 auto;
  margin: 0 auto;
  background-color: gray;
}
div.aboutgohall {
  background-color: #2c2b2b;
  background-image: url(img/london_hall.jpg);
  background-position: right;
  background-repeat: no-repeat;
  padding-bottom: 50px;
  padding-left: 50px;
}
div.aboutgohall h1 {
  color: white;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding-top: 50px;
}
div.aboutgohall h2 {
  color: white;
}
div.aboutgohall p {
  color: white;
  padding-right: 240px;
}
div.aboutgohall :nth-of-type(2) {
  color: orange;
  padding-left: 150px;
  border-left-style: solid;
}
