*{
    box-sizing: border-box;
}

main{
    width: 960px;
    margin: 0 auto;
}
body{
    margin: 0;
    background-color: #efe784;
}


header{
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    padding-top: 97px;
    padding-bottom: 69px;
    padding-left: 272px;
}

h2{
    font-family: Arial, Helvetica, sans-serif
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 10px;
    text-transform: uppercase;
    color:#efe784;
    padding: 10px 10px 10px 10px;

}

/* Section Intro */
.intro{
    background-color: #3e3838;
    text-align: center;
    padding-top: 50px;

}

.paragrapheIntro{
font-family: 'Roboto',sans-serif;
font-size: 16px;
font-weight: 300;
line-height: 28px;
color: #efe784;
padding: 25px 173px 58px 173px;
margin: 0;

}

.titreIntro{
border-top: 1px solid #efe784;
border-bottom: 1px solid #efe784;
display: inline;


}


/* Section Avengers : Infinity War */

.avengers{

    background-color: white;
    text-align: left;
    padding-left: 173px;
    font-size: 30px;
    color: rgb(37, 95, 172);
    padding-bottom: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
    padding-right: 173px;
    font-weight: 300;
    line-height: 28px;




}

.paragrapheAvengers{
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
font-weight: 300;
line-height: 28px;
color: black;



}
    
.sortieAvengers{

    text-align: left;
    font-size: 15px;
    color: rgb(37, 95, 172);

}



/* Section Avengers : Infinity War */

.star{

    background-color: rgb(46, 169, 185);
    text-align: left;
    padding-left: 173px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    padding-bottom: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
    padding-right: 173px;
    font-weight: 300;
    line-height: 28px;



}

.paragrapheStar{
font-family: Arial, sans-serif;
font-size: 16px;
font-weight: 300;
line-height: 28px;
color: rgb(0, 0, 0);



}
    
.sortieStar{

    text-align: left;
    font-size: 15px;
    color: rgb(255, 255, 255);

}

/* Section Avengers : Infinity War */

.woman{

    background-color: rgb(68, 66, 66);
    text-align: left;
    padding-left: 173px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding-bottom: 35px;
    font-family: Arial, sans-serif;
    padding-top: 30px;
    padding-right: 173px;
    font-weight: 300;
    line-height: 28px;



}

.paragrapheWoman{
font-family: Arial, sans-serif;
font-size: 16px;
font-weight: 300;
line-height: 28px;
color: rgb(255, 255, 255);



}
    
.sortieWoman{

    text-align: left;
    font-size: 15px;
    color: rgb(255, 255, 255);

}

/* Section Footer */

footer{  
    background-color: rgb(0, 0, 0);
    text-align: left;
    color: rgb(255, 255, 255);
    padding: 25px 173px 58px 173px;
   
}

span{

    color: yellow;
}