h1
{
color: black;
font-size: 30px;
padding: 50px 100px;
height: 200px 200px;
background-color: yellow;
}
h2
{
    color: black;
    font-size: 30px;
    padding: 10px 100px;
    height: 200px 200px;
    background-color: blue;
    }
    h3
{
    color: black;
    font-size: 30px;
    padding: 50px 50px;
    height: 200px 200px;
    background-color: yellow;
    }